<div class="flex flex-col p-9 w-full">

  <div id="gallery" class="relative w-full h-1/2 mb-9" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-full md:w-full ">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out " data-carousel-item>
        <%= image_tag 'radiology/1.jpg', class: "absolute block w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" %>
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out " data-carousel-item>
        <%= image_tag 'radiology/2.jpg', class: "absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" %>
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out " data-carousel-item>
        <%= image_tag 'radiology/3.jpg', class: "absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" %>
      </div>
      <div class="hidden duration-700 ease-in-out " data-carousel-item>
        <%= image_tag 'radiology/4.jpg', class: "absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" %>
      </div>
      <div class="hidden duration-700 ease-in-out " data-carousel-item>
        <%= image_tag 'radiology/5.jpg', class: "absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" %>
      </div>
      <div class="hidden duration-700 ease-in-out " data-carousel-item>
        <%= image_tag 'radiology/6.jpg', class: "absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" %>
      </div>

    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 h-1/2 p-20 ">
    <%= link_to  wastes_path do%>
      <div
      class="flex flex-col justify-center items-center bg-yellow-100 px-4 h-[126px] w-[100%] md:w-[281px] md:h-[192px] rounded-lg justify-self-center transition-all hover:scale-105">
        <div class="flex flex-row justify-center items-center">
          <i class="fa-solid fa-radiation text-5xl text-yellow-900"></i>
          <p class="font-bold text-3xl sm:text-4xl lg:text-5xl leading-9 text-primary ml-2"><%=Waste.all.count%></p>
        </div>
        <p class="font-medium text-base sm:text-lg leading-6 mt-3 md:mt-6 text-center">Total des déchets</p>
      </div>

    <% end %>

    <%= link_to  archive_path do%>

      <div
      class="flex flex-col justify-center items-center bg-green-100 px-4 h-[126px] w-[100%] md:w-[281px] md:h-[192px] rounded-lg justify-self-center transition-all hover:scale-105">
        <div class="flex flex-row justify-center items-center">
          <i class="fa-solid fa-check text-5xl text-green-800"></i>
          <p class="font-bold text-3xl sm:text-4xl lg:text-5xl leading-9 text-primary ml-2"><%=Waste.where(eliminated: true).count%></p>
        </div>
        <p class="font-medium text-base sm:text-lg leading-6 mt-3 md:mt-6 text-center">Total éliminé</p>
      </div>

    <% end %>

    <div
      class="flex flex-col justify-center items-center bg-[#FFF6F3] px-4 h-[126px] w-[100%] md:w-[281px] md:h-[192px] rounded-lg justify-self-center transition-all hover:scale-105">
      <div class="flex flex-row justify-center items-center">
        <i class="fa-solid fa-biohazard text-5xl text-red-800"></i>
        <p class="font-bold text-3xl sm:text-4xl lg:text-5xl leading-9 text-primary ml-2"><%= Waste.where(infectious: true).count%></p>
      </div>
      <p class="font-medium text-base sm:text-lg leading-6 mt-3 md:mt-6 text-center">Déchets toxiques</p>
    </div>

    <div
      class="flex flex-col justify-center items-center bg-indigo-100 px-4 h-[126px] w-[100%] md:w-[281px] md:h-[192px] rounded-lg justify-self-center transition-all hover:scale-105">
      <div class="flex flex-row justify-center items-center">
        <i class="fa-solid fa-shield-heart text-5xl text-indigo-800"></i>
        <p class="font-bold text-3xl sm:text-4xl lg:text-5xl leading-9 text-primary ml-2"><%= Waste.where(infectious: false).count%></p>
      </div>
      <p class="font-medium text-base sm:text-lg leading-6 mt-3 md:mt-6 text-center">Déchets hospitalier</p>
    </div>
  </div>
</div>
