<div class="simple-calendar">
  <div class="calendar-heading">
    <span class="calendar-title">
      <%= t('simple_calendar.week', default: 'Semaine') %>
      <%= calendar.week_number %>
      <% if calendar.number_of_weeks > 1 %>
        - <%= calendar.end_week %>
      <% end %>
    </span>

    <nav class="w-full mb-3">
      <div class="flex items-center justify-center w-full gap-2">

        <%= link_to calendar.url_for_previous_view do%>
          <button class= "py-2.5 px-6 rounded-lg text-sm font-medium bg-teal-100 text-teal-800">Précédente</button>
        <% end %>
        <%= link_to calendar.url_for_today_view do%>
          <button class= "py-2.5 px-6 rounded-lg text-sm font-medium bg-teal-200 text-teal-800">Aujourd'hui</button>
        <% end %>
        <%= link_to calendar.url_for_next_view do%>
          <button class= "py-2.5 px-6 rounded-lg text-sm font-medium bg-teal-300 text-teal-800">Prochaine</button>
        <% end %>

      </div>
    </nav>
  </div>

  <table class="table table-striped rounded-md">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: "p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300 overflow-auto" do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
